.dropdown2-menu{
    width:200px;
    position:absolute;
    top:80px;
    list-style:none;
    text-align:start;
}
.dropdown2-menu li{
    background:black;
    cursor:pointer;
}
.dropdown2-menu li:hover{
    background:white;
}
.dropdown2-menu.clicked{
    display:none;
}
.dropdown2-link{
    display: block;
    width:100%;
    height:100%;
    text-decoration:none ;
    color:white;
    padding:16px;
}
.dropdown2-link:hover{
    color:black;
}
@media screen and (max-width: 960px) {
    .dropdown2-menu{
        width:200px;
        position:absolute;
        top:20rem;
        list-style:none;
        text-align:center;
    }   
}
