* {
  margin: 0;
  padding: 0;
}
.Experience{
  background: #3aafa9;
  padding-bottom:100px;
    background-color: #3aafa9;
    font-family: sans-serif;
}

.para{
  font-weight: bold;
  padding-top: 30px;
  text-align: center;
  padding-left: 100px;
  padding-bottom: 30px;
  font-family: sans-serif;
}
.feed{
  text-align: left;
  
  font-family: sans-serif;
}
.check{
  padding-left:120px;
}
.rating-css {
  height: 100px;
  width: 1000px;
  padding-left:100px;
}
.rating-css  .star-icon{
  color: #ffe400;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
  padding-left:300px;
}

.rate{
  font-size: 25px;
  font-family: sans-serif;
  padding-left: 300px;
  font-family: sans-serif;
  
}

.rating-css input {
  display: none;
}
.rating-css input + label {
  font-size: 60px;
  text-shadow: 1px 1px 0 #ffe400;
  cursor: pointer;
  padding-right: 2%;
}
.rating-css input:checked + label ~ label {
  color: #838383;
}
.rating-css label:active {
  transform: scale(0.8);
  transition: 0.3s ease;
}

.SubmiT{
    padding-left: 40%;
    padding-top:50px;
}
.submiT{
    height:50px;
    width:200px;
    background-color:black;
    color:white;
    border:none;
    font-size: 20px;

}
.Desc{
    padding-top:30px;
    padding-left:400px;
    font-family: sans-serif;
}

.desc{
    padding-bottom:30px;
    font-size: 23px;
    font-family: sans-serif;
}

.comment{
  padding-right: 20px;
  font-family: sans-serif;
}
.feedback{
  padding-top:20px;
  font-size: 20px;
  padding-left: 400px;
  padding-bottom: 50px;
  font-family: sans-serif;
}
.ck{
  width: 18px; 
  height: 18px;
  
}