* {
  margin: 0;
  padding: 0;
}
.rating-css {
  height: 300px;
  width: 600px;
  background: #3aafa9;

  padding: 120px;

}
.rating-css div {
  color: #ffe400;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;


}
.Module{
    padding-bottom:130px;
    padding-left: 470px;
    background-color: #3aafa9;



}

.rating-css input {
  display: none;
}
.rating-css input + label {
  font-size: 60px;
  text-shadow: 1px 1px 0 #ffe400;
  cursor: pointer;
}
.rating-css input:checked + label ~ label {
  color: #838383;
}
.rating-css label:active {
  transform: scale(0.8);
  transition: 0.3s ease;
}

.SubmiT{
    padding-left:265px;
    padding-top:100px;
}
.submiT{
    height:50px;
    width:100px;
    background-color:black;
    color:white;
    border:none;

}
.Desc{
    padding-top:50px;
    padding-left:17px;

}
.para{
 color:#17252a;
}

.desc{
    padding-bottom:30px;
}