.funds{
    padding-bottom:10% ;

    align-content: center;
    padding-left: 250px;
    padding-right: 250px;
    background-color:#1F2833;


}
.fundsform{
    padding-left:200px;
    border:none;

}


.box{
    width: 600px;
    height: 35px;
    padding-left: 5px;
    margin-bottom: 20px;


}
.namebox{
    width: 200px;
    height: 35px;
    padding-left: 5px;
    margin-bottom: 20px;


}

.lbl{
    padding-right: 20px;
    padding-bottom: 100px;
    color:#C5C6C7;
}
.last{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    color:#C5C6C7;
}
.first{
    padding-right: 20px;
    padding-bottom: 100px;
    color:#C5C6C7;
}
.b1{
    width:150px;
    height: 35px;
    margin-top: 10px ;
    box-align:center;
    background-color: transparent;
    color:white;
    border-color: #66FCF1;
}

h1{
    padding-left:200px;
    color:#66fcf1;
    padding-bottom:60px;
}



