.place{
    background-color:hsl(180, 58%, 58%);

}
.searchpost{
    margin-left: 30%;
    margin-top:20px;
    width:30%;
    height: 50px;
    padding: 30px;
    font-size: 20px;
}
.postscomp{
    padding-top: 5%;
    padding-bottom: 10%;
    align-content: center;
    /* background-color: #c2e4f8;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23330055' cx='50' cy='0' r='50'/%3E%3Cg fill='%233a015d' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23410165' cx='50' cy='100' r='50'/%3E%3Cg fill='%2348026e' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23500376' cx='50' cy='200' r='50'/%3E%3Cg fill='%2357047e' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%235f0587' cx='50' cy='300' r='50'/%3E%3Cg fill='%2367068f' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%236f0798' cx='50' cy='400' r='50'/%3E%3Cg fill='%237707a0' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%238008a9' cx='50' cy='500' r='50'/%3E%3Cg fill='%238909b1' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%239109ba' cx='50' cy='600' r='50'/%3E%3Cg fill='%239a09c3' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a309cb' cx='50' cy='700' r='50'/%3E%3Cg fill='%23ad09d4' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b608dc' cx='50' cy='800' r='50'/%3E%3Cg fill='%23c007e5' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c905ee' cx='50' cy='900' r='50'/%3E%3Cg fill='%23d303f6' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23D0F' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: contain; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}
.posts-cardcontainer{
    background-color:white;
    width: 500px;
    overflow: hidden;
    box-shadow: 0px 0px 10px -5px;
  align-items: center;
  margin-bottom: 70px ;
  margin-right: 60px;
  margin-left: 150px;
  padding: 20px;
  display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.image-posts img{
    overflow: hidden;
    height: 300px;
    width:500px;
}
.posts-title{
    padding-left: 30px;
    font-weight: 100;
    font-size: 30px;
    padding-bottom: 10px;
    text-color:#5fa5a2;;
}
.posts-desc{
    margin: 20px 20px 0px 20px;
    font-weight: 100;
    font-size: 1rem;
    line-height: 1.5;
    color:black;

}
.fa-thumbs-up{
    margin: 20px ;
    font-size: 1.5rem;
    color:black;
}
.fa-thumbs-down{
    font-size: 1.5rem;
    color:black;
}
.posts-comment{
    margin:0px 20px;
}
.comm{
    width: 400px;
    height: 35px;
    padding-left: 10px;
    font-size: 1rem;
}
