.form-container_upload {
  margin: 40px ;
  width: 600px;
  margin-bottom:150px;
  margin-top:250px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 10px;
  height: 700px;
  display: grid;
}

.form-container_upload .close-btn {
  position: absolute;
  top: 2%;
  right: 3%;
  font-size: 1.5rem;
  z-index: 1;
  color: rgb(255, 255, 255);
  cursor: pointer;
}


.formup-content-right {
  border-radius: 10px;
  position: relative;
  background: linear-gradient(90deg, rgb(40, 40, 40) 0%, rgb(17, 17, 17) 100%);
}

.formup-content-right > .formup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formup-content-right > .formup> h1 {
  font-size: 1.5rem;
  text-align: start;
  width: 80%;
  margin-bottom: 0.5rem;
  color: #fff;
}

.formup-inputs {
  margin-bottom: 0.0px;
  width: 80%;
}

.formup-content-right  .formup .formup-inputs  p {
  font-size: 1rem;
  margin-top: 0.3rem;
  color: #f00e0e;
}

.formup-content-right .formup .formup-inputs .formup-label {
  display: inline-block;
  font-size: 1rem;
  margin-bottom: 5px;
  color: #fff;
}

.formup-content-right > .formup>.formup-inputs >.formup-input {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  background-color: white;
  border: none;
}

.formup-content-right > .formup>.formup-inputs > .formup-input::placeholder {
  color: #595959;
  font-size: 14px;
}

.formup-content-right > .formup>.formup-input-btn {
  width: 80%;
  height: 50px;
  margin-top: 50px;
  border-radius: 2px;
  background: linear-gradient(
    90deg,
    rgb(39, 176, 255) 0%,
    rgb(2, 226, 230) 100%
  );
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
}

.formup-content-right > .formsup> .formup-input-btn:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(39, 143, 255) 0%,
    rgb(12, 99, 250) 100%
  );
  transition: all 0.4s ease-out;
}

/* .formup-content-right > .formup> .formup-input-login {
  font-size: 1rem;
  margin-top: 8px;
  color: #fff;
  width: 100%;
  text-align: center;
} */

/* .formup-content-right > .formup> .formup-input-login >a {
  text-decoration: none;
  color: #27cdff;
  font-weight: 600;
} */
